
nav{
    background-color: rgb(144, 109, 177);
    line-height: 50px;
      
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
    color: white;
}



.navbar li{
    font-size: 25px;   
    list-style-type: none;     
}


